node-red flow
[{"id":"11d44715.2e36e9","type":"tab","label":"Website","disabled":false,"info":""},{"id":"65e039db.f85748","type":"visual-recognition-v3","z":"11d44715.2e36e9","name":"","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":1875.6667175292969,"y":1708.7500462532043,"wires":[["5344d3a4.91a53c"]]},{"id":"5bab99c.54e1e68","type":"http in","z":"11d44715.2e36e9","name":"","url":"/JessicaMcCurdy","method":"get","upload":false,"swaggerDoc":"","x":1065,"y":1183.3333740234375,"wires":[["2ed5029d.d8b9be"]]},{"id":"babf139e.1f449","type":"http in","z":"11d44715.2e36e9","name":"","url":"/Contact","method":"post","upload":false,"swaggerDoc":"","x":1045,"y":1383.3333740234375,"wires":[["27692429.ff1e2c","76ca943e.80cb5c"]]},{"id":"27692429.ff1e2c","type":"debug","z":"11d44715.2e36e9","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1695,"y":1383.3333740234375,"wires":[]},{"id":"8216740.bf6739","type":"http response","z":"11d44715.2e36e9","name":"","x":1715,"y":1343.3333740234375,"wires":[]},{"id":"2ed5029d.d8b9be","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1435,"y":1283.3333740234375,"wires":[["a2309638.7e4498"]]},{"id":"e7a54f4b.11","type":"http response","z":"11d44715.2e36e9","name":"","x":1715,"y":1283.3333740234375,"wires":[]},{"id":"a2309638.7e4498","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h2>Welcome to my site!</h2>\n    \n    <img src=\"https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/19145798_1574989985868256_1964966492494325022_n.jpg?_nc_cat=0&oh=40ee225e5acaff41c8433cdc2f6d2f94&oe=5C22776E\" height='400'/>\n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1575,"y":1283.3333740234375,"wires":[["e7a54f4b.11"]]},{"id":"99941933.6e0898","type":"function","z":"11d44715.2e36e9","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1445,"y":1343.3333740234375,"wires":[["8216740.bf6739"]]},{"id":"76ca943e.80cb5c","type":"json","z":"11d44715.2e36e9","name":"","property":"payload","action":"","pretty":false,"x":1255,"y":1343.3333740234375,"wires":[["99941933.6e0898"]]},{"id":"9322f036.ae853","type":"comment","z":"11d44715.2e36e9","name":"Website","info":"","x":1015,"y":1103.3333740234375,"wires":[]},{"id":"19b979ff.d37d26","type":"comment","z":"11d44715.2e36e9","name":"Form Submission","info":"","x":1045,"y":1323.3333740234375,"wires":[]},{"id":"58a4ff4f.a9cf6","type":"comment","z":"11d44715.2e36e9","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":1345,"y":1003.3333740234375,"wires":[]},{"id":"83d8060.d2bfaf8","type":"http in","z":"11d44715.2e36e9","name":"","url":"/Contact","method":"get","upload":false,"swaggerDoc":"","x":1060.5000457763672,"y":1462.333366394043,"wires":[["7c71ea26.04cde4"]]},{"id":"7c71ea26.04cde4","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1217.3333435058594,"y":1462.333366394043,"wires":[["5cab2a94.6758d4"]]},{"id":"5cab2a94.6758d4","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n    <embed src=\"https://www.linkedin.com/in/jessica-mccurdy/\" style=\"width:500px; height: 300px;\">\n    <iframe src=\"https://www.linkedin.com/in/jessica-mccurdy/\" height=\"400\" width=\"500\"></iframe>\n    <h4><a href=\"https://www.linkedin.com/in/jessica-mccurdy/\">Connect with me on Linkdin</a></h4>\n    <h4><a href=\"https://calendly.com/jessica-mccurdy/45min\">Schedule a Meeting</a></h4>\n    <form method=\"post\" action=\"https://www.example.com/cgi-bin/FormMail.pl\" accept-charset=\"ISO-8859-1\" onsubmit=\"var originalCharset = document.charset; \ndocument.charset = 'ISO-8859-1'; window.onbeforeunload = function () {document.charset=originalCharset;};\">\nYour Name\n<br />\n<input name=\"realname\" />\n<br />\nYour Email\n<br />\n<input name=\"email\" />\n<br />\nYour Message\n<br />\n<textarea cols=\"40\" rows=\"10\" name=\"Message\"></textarea>\n<br />\n<input type=\"submit\" value=\"Send\" />\n</form>\n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1350.3333129882812,"y":1469.333351135254,"wires":[["c8e78929.10ce48","26ace4ad.f6b87c"]]},{"id":"c8e78929.10ce48","type":"http response","z":"11d44715.2e36e9","name":"","x":1492.00004196167,"y":1474.3333358764648,"wires":[]},{"id":"d82ea35a.7b477","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1043,"y":1522.333351135254,"wires":[["964ef518.7db468"]]},{"id":"964ef518.7db468","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h2>I help lead Yale Effective Altruism</h2>\n    <iframe src=\"https://yaleea.com/\" height=\"425\" width=\"1200\"></iframe>\n    \n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1175.9999694824219,"y":1529.3333358764648,"wires":[["772a797a.ac8388"]]},{"id":"772a797a.ac8388","type":"http response","z":"11d44715.2e36e9","name":"","x":1311.6667175292969,"y":1528.3333358764648,"wires":[]},{"id":"14523569.d1f55b","type":"http in","z":"11d44715.2e36e9","name":"","url":"/EA","method":"get","upload":false,"swaggerDoc":"","x":883.0000228881836,"y":1518.666742324829,"wires":[["d82ea35a.7b477"]]},{"id":"6b0f3da8.edf084","type":"http in","z":"11d44715.2e36e9","name":"","url":"/Resume","method":"get","upload":false,"swaggerDoc":"","x":1051,"y":1589.6667251586914,"wires":[["87a93f65.3f192"]]},{"id":"87a93f65.3f192","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1207.8332977294922,"y":1589.6667251586914,"wires":[["d7c2dd73.4d647"]]},{"id":"d7c2dd73.4d647","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h2>Here I will write things about me</h2>\n    <iframe src=\"https://drive.google.com/file/d/1XEKJL45YUrAOKPB5btmLFmXn9EqxHDBe/view?usp=sharing\"></iframe>\n\n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1340.833267211914,"y":1596.6667098999023,"wires":[["74b0bf44.4eaed"]]},{"id":"74b0bf44.4eaed","type":"http response","z":"11d44715.2e36e9","name":"","x":1476.500015258789,"y":1595.6667098999023,"wires":[]},{"id":"b8f9af3a.a186e","type":"http in","z":"11d44715.2e36e9","name":"","url":"/Faces","method":"get","upload":false,"swaggerDoc":"","x":1049.6666870117188,"y":1663.6667251586914,"wires":[["ff9710a7.dc5dd"]]},{"id":"4d73e20c.5af67c","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1402.5000534057617,"y":1641.66672706604,"wires":[["d8f7350.8b916c8"]]},{"id":"d8f7350.8b916c8","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h1>Welcome to my Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://media.licdn.com/dms/image/C4D03AQEyzdIqg5ObUg/profile-displayphoto-shrink_200_200/0?e=1542240000&v=beta&t=KeMojjAW7JJzlsPpUZhRq6GhAUvZq3xYgxHE71LubqY\" height='200'/>\n    <img src=\"https://media.licdn.com/dms/image/C4E03AQHWwR-Ytr6RrA/profile-displayphoto-shrink_800_800/0?e=1542240000&v=beta&t=huZR0k4b0F_Ot8bpNOHqeTH3A7pyoZ6Za95kXKz33Is\" height='200'/>\n    <img src=\"https://media.licdn.com/dms/image/C4E03AQHkkpAJnuyToQ/profile-displayphoto-shrink_800_800/0?e=1542240000&v=beta&t=0DtAK5pBot4gXrhk7TqeULVCtSovB6HbIy2Ae0oRvuY\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image address and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n    </body>\n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1579.5000610351562,"y":1638.66672706604,"wires":[["362f697a.26a426"]]},{"id":"c45b09ed.7ffae8","type":"http in","z":"11d44715.2e36e9","name":"","url":"/Personality","method":"get","upload":false,"swaggerDoc":"","x":1058.6666870117188,"y":1737.6667251586914,"wires":[["bb871bd2.52adf8"]]},{"id":"bb871bd2.52adf8","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1205.499984741211,"y":1737.6667251586914,"wires":[["e4548020.e9414"]]},{"id":"e4548020.e9414","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h2>Here I will write things about me</h2>\n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1338.4999542236328,"y":1744.6667098999023,"wires":[["26ed5400.21e84c"]]},{"id":"26ed5400.21e84c","type":"http response","z":"11d44715.2e36e9","name":"","x":1474.1667022705078,"y":1743.6667098999023,"wires":[]},{"id":"99b546ab.708a98","type":"http in","z":"11d44715.2e36e9","name":"","url":"/CS50","method":"get","upload":false,"swaggerDoc":"","x":1027.6666870117188,"y":1805.6667251586914,"wires":[["792741ce.b4a4e"]]},{"id":"792741ce.b4a4e","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":1194.499984741211,"y":1805.6667251586914,"wires":[["ce6a9826.c666a8"]]},{"id":"ce6a9826.c666a8","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        \n\n\n\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n    <h2>I TA for one of the coolest classes at Yale- Check it out!</h2>\n    <iframe src=\"https://cs50.yale.edu/2018/fall/\" height=\"425\" width=\"1200\"></iframe>\n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":1327.4999542236328,"y":1812.6667098999023,"wires":[["f4d531c1.b6e3b"]]},{"id":"f4d531c1.b6e3b","type":"http response","z":"11d44715.2e36e9","name":"","x":1463.1667022705078,"y":1811.6667098999023,"wires":[]},{"id":"ff9710a7.dc5dd","type":"switch","z":"11d44715.2e36e9","name":"Check image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1228.5000534057617,"y":1664.8333930969238,"wires":[["4d73e20c.5af67c"],["f4472a25.fb2f88"]]},{"id":"f4472a25.fb2f88","type":"change","z":"11d44715.2e36e9","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650.0000762939453,"y":1707.833396911621,"wires":[["65e039db.f85748"]]},{"id":"362f697a.26a426","type":"http response","z":"11d44715.2e36e9","name":"","x":1919.0002574920654,"y":1630.5833930969238,"wires":[]},{"id":"5344d3a4.91a53c","type":"template","z":"11d44715.2e36e9","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"nav .navbar-brand\n{\n    /* size for brand */\n    font-size: xx-large;\n}\n\n/* colors for brand */\nnav .navbar-brand .blue\n{\n    color: #537fbe;\n}\nnav .navbar-brand .red\n{\n    color: #ea433b;\n}\nnav .navbar-brand .yellow\n{\n    color: #f5b82e;\n}\nnav .navbar-brand .green\n{\n    color: #2e944b;\n}\nnav .navbar-brand .white\n{\n    color: #ffffff;\n}\n\nmain .form-control\n{\n    /* center form controls */\n    display: inline-block;\n\n    /* override Bootstrap's 100% width for form controls */\n    width: auto;\n}\n\nmain\n{\n    /* scroll horizontally as needed */\n    overflow-x: auto;\n\n    /* center contents */\n    text-align: center;\n}\n\nmain img\n{\n    /* constrain images on small screens */\n    max-width: 100%;\n}","x":2053.6667442321777,"y":1716.0000629425049,"wires":[["558fe255.2ee2ec"]]},{"id":"558fe255.2ee2ec","type":"template","z":"11d44715.2e36e9","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html lang=\"en\">\n\n    <head>\n\n        <!-- Required meta tags -->\n        <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"/>\n\n        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n\n        <link href=\"/static/styles.css\" rel=\"stylesheet\"/>\n\n        <script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"></script>\n\n        <title>Jessica McCurdy: </title>\n\n    </head>\n\n    <body background = \"https://i1.wp.com/www.dzzyn.com/wp-content/uploads/2015/11/30-Free-Beautiful-Watercolor-Wallpapers-That-Should-Be-on-Your-Desktop-5.jpg\">\n\n        <nav class=\"navbar navbar-expand-md navbar-dark bg-dark border\">\n            <a class=\"navbar-brand\" href=\"/JessicaMcCurdy\"><span class=\"blue\">Jessica</span> <span class=\"white\">McCurdy</span></a>\n            <button aria-controls=\"navbar\" aria-expanded=\"false\" aria-label=\"Toggle navigation\" class=\"navbar-toggler\" data-target=\"#navbar\" data-toggle=\"collapse\" type=\"button\">\n                <span class=\"navbar-toggler-icon\"></span>\n            </button>\n            <div class=\"collapse navbar-collapse\" id=\"navbar\">\n                    <ul class=\"navbar-nav mr-auto mt-2\">\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Contact\">Contact Me</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/EA\">Effective Altruism</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/CS50\">CS50</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Resume\">Resume</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Faces\">Facial Recognition Program</a></li>\n                        <li class=\"nav-item\"><a class=\"nav-link\" href=\"/Personality\">Personality Detector</a></li>\n                        \n                    </ul>\n                    \n            </div>\n        </nav>\n\n        <main class=\"container p-5\">\n            \n        </main>\n\n    </body>\n\n</html>\n\n<h1>Alchemy Image Analysis</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<p>Analyzed image: <br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Sex</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n\n    \n    \n    \n\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":2176.666748046875,"y":1721.0000615119934,"wires":[["362f697a.26a426"]]},{"id":"9b57b65a.116d28","type":"template","z":"11d44715.2e36e9","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Alchemy Image Analysis</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n","x":2113.50040435791,"y":1830.833396911621,"wires":[[]]},{"id":"26ace4ad.f6b87c","type":"e-mail","z":"11d44715.2e36e9","server":"smtp.gmail.com","port":"465","secure":true,"name":"jessica.mccurdy@yale.edu","dname":"","x":1566.333381652832,"y":1522.666669845581,"wires":[]}]
